name: CI/CD

on:
  push:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  ci-cd:
    name: CI/CD
    uses: StudioLE/Actions/.github/workflows/ci-cd-dioxus-fullstack.yml@v7
    with:
      package_name: mount_luks
      binary_name: mount_luks
      matrix: |
        [
          {
            "target": "x86_64-unknown-linux-gnu",
            "os": "ubuntu-24.04"
          },
          {
            "target": "x86_64-unknown-linux-musl",
            "os": "ubuntu-24.04"
          },
          {
            "target": "aarch64-unknown-linux-gnu",
            "os": "ubuntu-24.04-arm"
          },
          {
            "target": "aarch64-unknown-linux-musl",
            "os": "ubuntu-24.04-arm"
          }
        ]
    secrets:
      cargo_registry_token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
